.production {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.production-items-wraper {
    display: flex;
    border: 1px solid #DCE1E6;
    width: 370px;
    height: 291px;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);

    &_margin {
        margin: 0px 30px;
    }
}

.wraper-production {
    display: flex;
    align-items: center;
    justify-content: center;
}

.production-text_a {
    text-decoration: none;

    &:link {
        text-decoration: none;
        color:#3A4047;
    }
}

.production-text-title {
    text-transform: uppercase;
    padding-top: 29px;
    padding-bottom: 10px;
    font-weight: bold;
}


.production-text__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.production-text_li {
    padding: 10px 0px;
}

.production-icon {
    margin: 29px;
    width: 62px;
    height: 62px;
}

.h1-text_production {
    padding: 45px;
}

.production-text_two-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

@media (min-width: 1201px) and (max-width: 1370px) {
    .production-items-wraper {
        width: 330px;
    }

    .wraper-production {
        flex-direction: row;
    }
}

@media all and (max-width: 1200px) {
    .wraper-production {
        flex-direction: column;
    }

    .production-items-wraper {
        width: 330px;
        height: auto;
        &_margin {
            margin: 20px 0px;
        }
    }
}