.production#production
    h1.h1-text.h1-text_production Продукция
    .wraper-production
        .production-items-wraper
            svg.production-icon
                use(xlink:href="#blank-page-icon")
            .production-text-wraper
                h3.h3-text.production-text-title Офисная продукция
                .reg-text.production-text
                    ul.production-text__ul
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Визитки
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Конверты
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Папки
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Книги
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Блокноты
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Фирменные бланки

        .production-items-wraper.production-items-wraper_margin
            svg.production-icon.production-icon_margin
                use(xlink:href="#roadmap-icon")
            .production-text-wraper
                h3.h3-text.production-text-title Рекламная продукция
                .reg-text.production-text.production-text_two-column
                    ul.production-text__ul
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Листовки
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Флаера
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Буклеты
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Календари
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Блокноты

                    ul.production-text__ul
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Плакаты
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Банеры
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Магниты
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Наклейки


        .production-items-wraper
            svg.production-icon
                use(xlink:href="#ereader-icon")
            .production-text-wraper
                h3.h3-text.production-text-title Для бизнеса
                .reg-text.production-text
                    ul.production-text__ul
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Каталоги
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Журналы
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Дисконтные карты
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Бейджи
                        li.production-text_li
                            a.production-text_a(href="http://", target="_blank", rel="noopener noreferrer") Гарантийные наклейки
