.quality {
    width: 375px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.reg-text_bold {
    font-weight: bold;
    padding-top: 12px;
}