.coll-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1AB0CE;
    width: 108px;
    height: 108px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.coll-me-icon {
    width: 23px;
    height: 23px;
    stroke: white;
    fill: none;
}

.col-me-text {
    font-family: 'Clear Sans Medium Regular', Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 3px;
}


