.header {
    width: 100%;
    height: 163px;
    position: fixed;
    position: fixed;
    top: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 6;
}

@media all and (max-width: 1020px) {
    .header {
        height: 100px;
       }
}