.contacts  {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}
.contacts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    &_footer {
        position: relative;
    }
}

.user-icon {
    width: 13px;
    height: 13px;
    stroke: #1AB0CE;
    fill: none;
    margin-right: 7px;
}

.contacts-item {
    display: flex;
    align-items: center;
    justify-content: center;

    &_padding {
        padding-left: 70px;
    }
}

.contacts-items-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts-items-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}


.pnone-number_bold {
    font-weight: bold;
}

.accordion {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: #EDEDED;
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon {
    margin-top: 2px;
    width: 13px;
    height: 13px;
    transform: rotate(90deg);
    fill: none;
}

.phone-icon {
    fill: none;
    width: 20px;
    height: 20px;
    stroke: #3A4047;
}

.facebook-icon {
    fill: none;
    width: 20px;
    height: 20px;
    stroke: #3D76B9;
    margin-right: 15px;
}
