.contacts
    .contacts-items-top
        .contacts-item
            svg.user-icon
                use(xlink:href="#user-icon")
            a.reg-text.contact-a(href="http://", target="_blank", rel="noopener noreferrer") Личный кабинет
        .contacts-item.contacts-item_padding
            a.reg-text.contact-a(href="mailto:maket@test-vertka.ua") maket@test-vertka.ua

    .contacts-items-bottom
        .contacts-wrapper
            svg.facebook-icon
                use(xlink:href="#facebook-icon")
            svg.phone-icon
                use(xlink:href="#phone-icon")
            h3.h3-text.pnone-number.pnone-number_bold (044) 345-40-42
            button.accordion
                svg.arrow-icon
                    use(xlink:href="#arrow-icon")