.phone-numbers {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 219px;
    height: 167px;
    background-color:#FFFFFF;
    transition: max-height 0.5s ease-out;
    position: absolute;
    // top: 100px;
    z-index: 2;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
    top: 44px;
    left: 12px;
}

.phone-numbers_bottom {
    top: -185px;
}

.show {
    display: block;
}

.phone-numbers-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    & a  {
        text-decoration: none;

        &:visited {
            text-decoration: none;
        }

        &:hover{
            text-decoration: underline;
        }
    }

}


.pnone-number {
    padding-left: 10px;
}

.phone-numbers-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.caret {
    border-left: solid 14px transparent;
    border-right: solid 14px transparent;
    border-bottom: solid 14px  #FFFFFF;
    height: 0;
    width: 0;
    position: relative;
    bottom: 10px;
    left: 180px;
  }

  .caret_bottom {
    border-left: solid 14px transparent;
    border-right: solid 14px transparent;
    border-top: solid 14px  #FFFFFF;
    height: 0;
    width: 0;
    position: relative;
    top: 167px;
    left: 180px;
  }

  .cart-icon {
    width: 34px;
    height: 34px;
    stroke: #1AB0CE;
    fill: none;
}

@media all and (max-width: 550px) {

    #phone-numbers-top {
        top: 60px;
        left: -20px;
    }
}