.phone-numbers
    .caret
    .phone-numbers-wraper
        .phone-numbers-item
                img.vodafone-logo(src="images/vodaphone.png")
                h3.pnone-number.h3-text (099) 485-54-18
        .phone-numbers-item
            img.vodafone-logo(src="images/kyivstar.png")
            h3.pnone-number.h3-text (096) 497-78-03
        .phone-numbers-item
            img.vodafone-logo(src="images/life.png")
            h3.pnone-number.h3-text (063) 435-16-81