.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E8EDF2;
}

.h1-text_about-us {
    padding-top: 35px;
    padding-bottom: 20px;
}

.about-us-text-wraper {
    width: 1166px;
    height: auto;
    display: flex;
    text-align: justify;
    margin-top: 34px;
    margin-bottom: 40px;
}

@media all and (max-width: 1200px) {
    .about-us-text-wraper {
        width: 90%;
    }
    .h2-text {
        text-align: center;
    }

}