.header-top {
    width: 100%;
    height: 106px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.header-top-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1180px;
    height: 100%;
    margin: auto;
}

.header-top-wraper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    &_logo {
        margin-right: 64px;
    }

    &_slogan {
        margin-right: 50px;
        width: 375px;
        align-items: center;
    }

    &_contacts {
        width: 350px;
        margin-right: 15px;
    }

}

.contacts-wrapper a {
    margin-bottom: -5px;
}

@media all and (max-width: 955px) {
    .header-top-wraper_slogan {
        display: none;
    }
}

@media all and (max-width: 660px) {
    .header-top-wraper_logo {
        margin-right: 0px;
    }

    .logo-wraper {
        width: 100px;
    }

    .logo-icon {
        width: 33px;
        height: 33px;
    }

    .logo-text {

        font-size: 10px;
        line-height: 0.8em;
        padding-left: 1px;

        &_big {
            font-size: 18px;
            padding: 0;
        }
    }

    .contacts-item {
        &_padding {
            padding-left: 5px;
        }
    }

}


