.header-top
    .header-top-flex

        .header-top-wraper.header-top-wraper_logo
            .logo-wraper
                svg.logo-icon
                    use(xlink:href="#logo-icon")
                .logo-text-wraper
                    .logo-text.logo-text_big Printe
                    .logo-text Ваша типография

        .header-top-wraper.header-top-wraper_slogan
            .h3-text.h3-text_center Качественная оперативная цифровая, широкоформатная и сувенирная полиграфия!
            .reg-text.reg-text_bold Работаем с 9 до 18, вс и сб выходные

        .header-top-wraper.header-top-wraper_contacts
            .contacts
                .contacts-items-top
                    .contacts-item
                        svg.user-icon
                            use(xlink:href="#user-icon")
                        a.reg-text.contact-a(href="http://", target="_blank", rel="noopener noreferrer") Личный кабинет
                    .contacts-item.contacts-item_padding
                        a.reg-text.contact-a(href="mailto:maket@test-vertka.ua") maket@test-vertka.ua

                .contacts-items-bottom
                    .contacts-wrapper
                        a(href="http://", target="_blank", rel="noopener noreferrer")
                            svg.facebook-icon
                                use(xlink:href="#facebook-icon")
                        a(href="http://", target="_blank", rel="noopener noreferrer")
                            svg.phone-icon
                                use(xlink:href="#phone-icon")
                        h3.h3-text.pnone-number.pnone-number_bold (044) 345-40-42
                        button.accordion(onclick="myFunction()")
                            svg.arrow-icon
                                use(xlink:href="#arrow-icon")
                    .phone-numbers#phone-numbers-top
                        .caret
                        .phone-numbers-wraper
                            .phone-numbers-item
                                img.vodafone-logo(src="images/vodaphone.png")
                                a(href="tel:+380994855418", target="_blank", rel="noopener noreferrer")
                                    h3.pnone-number.h3-text (099) 485-54-18
                            .phone-numbers-item
                                img.vodafone-logo(src="images/kyivstar.png")
                                a(href="tel:+380964977803", target="_blank", rel="noopener noreferrer")
                                    h3.pnone-number.h3-text (096) 497-78-03
                            .phone-numbers-item
                                img.vodafone-logo(src="images/life.png")
                                a(href="tel:+3800634351681", target="_blank", rel="noopener noreferrer")
                                    h3.pnone-number.h3-text (063) 435-16-81

        .header-top-wraper.header-top-wraper_cart
            .cart
                svg.cart-icon
                    use(xlink:href="#shopping-cart-icon")
                .cart-round.reg-text.cart-text 3