.do-it {
    margin-top: 160px;
    height: 500px;
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: no-repeat center url(images/main-wraper.jpg);
    position: relative;
}

.white-line {
    height: 2px;
    width: 120px;
    border: 1px solid #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}


.do-it__title {
    font-family: 'Clear Sans Medium Regular', Arial, Helvetica, sans-serif;
    font-size: 57px;
    line-height: 1em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 35px;

}

.do-it__text {
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.do-it-button {
    width: 200px;
    height: 50px;
    background: #1AB0CE;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.h3-text_do-it {
    font-family: 'Clear Sans Medium Regular', Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    padding-bottom: 2px;
}

.do-it-call-me {
    position: relative;
    top: 80px;
    left: 670px;
}


@media all and (max-width: 1020px) {

    .do-it {
        margin-top: 10px;
        height: 500px;
        width: 100%;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: no-repeat center url(images/main-wraper.jpg);
        position: relative;
    }
    .do-it__title{
        font-size: 35px;
    }

    .do-it-call-me {
        position: relative;
        top: 45px;
        left: 25vw;
    }
}

@media (min-width: 601px) and (max-width: 1470px) {
    .do-it-call-me {
        position: relative;
        top: 80px;
        left: 35vw;
    }
}