.do-it#do-it
    h2.h2-text.do-it__title Оперативная печать полиграфии от 1 дня!
    .white-line
    h2.h2-text.do-it__text Доставка в любой город Украины
    button.do-it-button
        h3.h3-text.h3-text_do-it Сделать заказ
    .do-it-call-me
        include ../coll-me/coll-me