.cart {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-icon {
    width: 44px;
    height: 44px;
    stroke: #1AB0CE;
    fill: none;
}

.cart-round {
    width: 30px;
    height: 30px;
    background-color: #1AB0CE;
    border: none;
    border-radius: 50%;
    position: relative;
    bottom: 15px;
    right: 12px;
}

.cart-text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}