.logo-wraper {
    width: 260px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.logo-icon {
    width: 63px;
    height: 63px;
}

.logo-text-wraper {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.logo-text {
    font-family: "ProximaNovaBlack", Arial, Helvetica, sans-serif;
    font-size: 15.5px;
    line-height: 0.8em;
    color: #3A4047;
    padding-left: 1px;

    &_big {
        font-size: 48px;
        color: #1AB0CE;
        text-transform: uppercase;
        padding: 0;
    }
}