/* Код для подключения шрифта в /css/stylename.css */

/* font-family: "ProximaNovaRegular"; */
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("./ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("./ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("./ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("./ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ProximaNovaBold"; */
@font-face {
    font-family: "ProximaNovaBold";
    src: url("./ProximaNovaBold/ProximaNovaBold.eot");
    src: url("./ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("./ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("./ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ProximaNovaBlack"; */
@font-face {
    font-family: "ProximaNovaBlack";
    src: url("./ProximaNovaBlack/ProximaNovaBlack.eot");
    src: url("./ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("./ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
    url("./ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
