@import "fonts/clear-sans-cufonfonts-webfont/style.css";
@import "fonts/ProximaNova/proxima.css";
@import url('https://fonts.googleapis.com/css?family=Cuprum|Roboto&display=swap');

* { box-sizing: border-box; }
body {
    margin: 0;
    background: #FFFFFF;
}


.h1-text {
    font-family: 'Clear Sans Regular', Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    color: #3A4047;
    font-weight: normal;
}

.h2-text {
    font-family: 'Clear Sans Regular', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    color: #3A4047;
    font-weight: normal;
}

.h3-text {
    font-family: 'Clear Sans Regular', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    color: #3A4047;
    font-weight: normal;

        &_upper-bold {
            text-transform: uppercase;
            font-weight: bold;
        }

        &_center {
            text-align: center;
        }
}

.reg-text {
    font-family: 'Clear Sans Regular', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    color: #3A4047;
    font-weight: normal;

    &_bold {
        font-weight: bold;
    }
}

.reg-text_roboto {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 21px;
}

$color-blue: #00a2f2;
$color-blue-light: #00aaff;
$color-coral: #f47b80;