.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1-text_news {
    padding: 45px;
}

.wraper-news {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-item-wraper {
    width: 400px;
    height: auto;

    &:hover {
        box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.05), 0px -1px 0px #1AB0CE;
    }

    &:hover .news-item-text_a {
        text-decoration: underline;
        text-decoration-color: #1AB0CE;
    }

    &:hover .news-item-text {
        color: #1AB0CE;
    }
}

.news-item-date {
    text-align: center;
    color: #BEC7D1;
    padding-top: 35px;
}

.news-item-text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    // padding: 14px;
    padding: 35px 20px;
}



.news-item-text_a {
    text-decoration: none;
}


.news-button {
    width: 190px;
    height: 32px;
    border: 1px solid #1AB0CE;
    background: white;
    margin: 50px 0px;

}

.reg-text_news {
    text-align: center;
    color: #1AB0CE;
    text-align: center;
}


@media all and (max-width: 1250px) {
    .wraper-news {
        flex-direction: column;
    }

    .news-item-wraper {
        width: 90%;
        height: auto;
        margin-bottom: 20px;
        
    }
}