.news#news
    h1.h1-text.h1-text_news Новости
    .wraper-news

        .news-item-wraper
            .reg-text.news-item-date 14 марта 2018
            a.news-item-text_a(href="http://", target="_blank", rel="noopener noreferrer")
                h3.h3-text.news-item-text Оазисное земледелие поднимает культурный субэкваториальный климат, там же можно с палками

        .news-item-wraper
            .reg-text.news-item-date 14 марта 2018
            a.news-item-text_a(href="http://", target="_blank", rel="noopener noreferrer")
                h3.h3-text.news-item-text Оазисное земледелие поднимает культурный субэкваториальный климат, там же можно с палками

        .news-item-wraper
            .reg-text.news-item-date 14 марта 2018
            a.news-item-text_a(href="http://", target="_blank", rel="noopener noreferrer")
                h3.h3-text.news-item-text Оазисное земледелие поднимает культурный субэкваториальный климат, там же можно с палками

    button.do-it-button.news-button
        span.reg-text.reg-text_news Смотреть все новости