<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Типография Print
        script(src="https://code.jquery.com/jquery-3.4.1.js")
        script(src="app.js" defer)

    body
        include header/header
        include do-it/do-it
        include production/production
        include about-us/about-us
        include news/news
        include footer/footer
        include sprite/sprite.html