.navigation {
    width: 100%;
    height: 57px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    position:relative;
}

.topnav-ul {
    max-width: 1180px;
    height: 100%;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex;
    margin: auto;
}

.topnav-li {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnav-li::before {
    content:"|";
    width: 1px;
    font-size: 13px;
    font-weight: lighter;
    color: #E8EDF2;
    padding-right: 2px;
}

.topnav-li_before-disable::before {
    display: none;
}


.topnav-a {
    text-decoration: none;
    padding: 18px 30px;
    color: #3A4047;

    &:visited {
        text-decoration: none;
        color: #3A4047;
    }

    &:hover{
        color: #1AB0CE;
        border-top: 1px solid #1AB0CE;
    }
}

.search-icon {
    width: 20px;
    height: 20px;
    fill: none;
}

.menu-icon {
    width: 43px;
    height: 43px;
    stroke: black;
}


//mobile menu

.nav-toggle {
    position:absolute;
    top:4px;
    right:20px;
    width:50px;
    height:50px;
    background-color:#1AB0CE;
    cursor:pointer;
    display:none;

}

span.icon-bar {
    position:absolute;
    right:12px;
    display:block;
    width:26px;
    height:2px;
    background-color:#ffffff;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.icon-bar:nth-child(1) {
    top:17px;
}

.icon-bar:nth-child(2) {
    top:24px;
}

.icon-bar:nth-child(3) {
    top:31px;
}

@media all and (max-width: 1370px) {
a.topnav-a {
    font-size: 12px;
}
}

@media all and (max-width: 1020px) {

    .navigation {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);

    }

    a.topnav-a {
        font-size: 16px;
    }

    .topnav-ul {
        position:absolute;
        top:0px;
        width:100%;
        height:0;
        padding:0;
        overflow:hidden;
        flex-direction: column;
    }

    .topnav-ul.active {
        height:auto;
    }

    .topnav-ul li {
        width:100%;
    }

    .topnav-ul li a {
        width:100%;
        padding:20px;
        text-align:center;
        background-color:#2c2c2c;
        color: rgb(247, 232, 232);
    }

    .topnav-a:visited {
        text-decoration: none;
        color: rgb(247, 232, 232);
    }

    .topnav-ul li a:hover {
        background-color:#1c1c1c;
    }

    .nav-toggle {
        display: block;
    }


    .nav-toggle.active .icon-bar:nth-child(1){
        top:24px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .nav-toggle.active .icon-bar:nth-child(2){
        width:0;
    }
    .nav-toggle.active .icon-bar:nth-child(3){
        top:24px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    nav.navigation{
        z-index:1;
    }

    .topnav-li::before {
        display: none;
    }

    .topnav-a {
        &:hover{
            color: #1AB0CE;
            border-top: 1px solid #1AB0CE;
            border-bottom: 1px solid #1AB0CE;
        }
    }

    .topnav-a.active-menu {
        color: rgb(247, 232, 232);
        border: none
    }

    .active-menu {
        color: rgb(247, 232, 232);
        border:none
    }
}
