nav.navigation
    ul.topnav-ul.h3-text.h3-text_upper-bold
        li.topnav-li.topnav-li_before-disable
            a.topnav-a(href="#do-it") Главная
        li.topnav-li
            a.topnav-a(href="#production") Продукция
        li.topnav-li
            a.topnav-a(href="#about-us") Доставка и оплата
        li.topnav-li
            a.topnav-a(href="#news") Новости
        li.topnav-li
            a.topnav-a(href="#about-us") База знаний
        li.topnav-li
            a.topnav-a(href="#about-us") О нас
        li.topnav-li
            a.topnav-a(href="#footer") Контакты
        li.topnav-li
            a.topnav-a(href="#footer")
                svg.search-icon
                    use(xlink:href="#search-icon")
    .nav-toggle
        span.icon-bar
        span.icon-bar
        span.icon-bar