.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 160px;
    background-color: #F7F7F7;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
    position: relative;
}

.footer-wrapper {
    display: flex;
    height: 60%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

.footer-wrapper_fixed-width {
    width: 260px;
}

.footer-wrapper_row {
    flex-direction: row;
    align-items: center;
}

.footer-nav-col_margin-left {
    margin-left: 65px;
}

.footer-nav-col {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-wrapper_align-right {
    align-items: flex-end;
}

.glyanec {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.glyanec-text {
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;
    color: #3A4047;
}

.footer-nav-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-nav-a:link,
.footer-nav-a:visited {
    color: #3A4047;
}

.coll-me-footer {
    position: absolute;
    bottom: 0px;
    right: -140px;
}

@media (min-width: 1251px) and (max-width: 1470px) {
    .coll-me-footer {
        bottom: 70px;
        right: 0px;
    }
}

@media all and (max-width: 1250px) {
    .footer {
        flex-direction: column;
        height: auto;
    }

    .footer-wrapper {
        margin-bottom: 30px;
    }

    .coll-me-footer {
        bottom: 280px;
        right: -250px;
    }

    .coll-me {
    height: 90px;
    width: 90px;
    }
}



@media all and (max-width: 750px) {
    .coll-me-footer {
        bottom: 270px;
        right: -105px;
    }
}

@media all and (max-width: 450px) {
    .coll-me-footer {
        bottom: 270px;
        right: -55px;
    }
}