footer.footer#footer

    .footer-wrapper
        .logo-wraper
            svg.logo-icon
                use(xlink:href="#logo-icon")
            .logo-text-wraper
                .logo-text.logo-text_big Printe
                .logo-text Ваша типография
        .reg-text.copirght 2018 — Все права защищены

    .footer-wrapper.footer-wrapper_fixed-width
        .reg-text.reg-text_roboto Качественная оперативная цифровая, широкоформатная и сувенирная полиграфия!
        .reg-text Работаем с 9 до 18, вс и сб выходные

    .footer-wrapper.footer-wrapper_row
        .footer-nav-col.reg-text.reg-text_roboto
            a.footer-nav-a(href="http://", target="_blank", rel="noopener noreferrer") Главная
            a.footer-nav-a(href="http://", target="_blank", rel="noopener noreferrer") Продукция
            a.footer-nav-a(href="http://", target="_blank", rel="noopener noreferrer") Доставка и оплата
        .footer-nav-col.reg-text.reg-text_roboto.footer-nav-col_margin-left
            a.footer-nav-a(href="http://", target="_blank", rel="noopener noreferrer") Новости
            a.footer-nav-a(href="http://", target="_blank", rel="noopener noreferrer") База знаний
            a.footer-nav-a(href="http://", target="_blank", rel="noopener noreferrer") О нас

    .footer-wrapper.footer-wrapper_align-right
        .contacts-wrapper.contacts-wrapper_footer
            a(href="http://", target="_blank", rel="noopener noreferrer")
                svg.facebook-icon
                    use(xlink:href="#facebook-icon")
            a(href="http://", target="_blank", rel="noopener noreferrer")
                svg.phone-icon
                    use(xlink:href="#phone-icon")
            h3.h3-text.pnone-number.pnone-number_bold (044) 345-40-42
            button.accordion(onclick="myFunction2()")
                svg.arrow-icon
                    use(xlink:href="#arrow-icon")
            #phone-numbers-bottom.phone-numbers.phone-numbers_bottom
                .caret_bottom
                .phone-numbers-wraper
                    .phone-numbers-item
                        img.vodafone-logo(src="images/vodaphone.png")
                        a(href="tel:+380994855418", target="_blank", rel="noopener noreferrer")
                            h3.pnone-number.h3-text (099) 485-54-18
                    .phone-numbers-item
                        img.vodafone-logo(src="images/kyivstar.png")
                        a(href="tel:+380964977803", target="_blank", rel="noopener noreferrer")
                            h3.pnone-number.h3-text (096) 497-78-03
                    .phone-numbers-item
                        img.vodafone-logo(src="images/life.png")
                        a(href="tel:+3800634351681", target="_blank", rel="noopener noreferrer")
                            h3.pnone-number.h3-text (063) 435-16-81

            .coll-me-footer
                button.coll-me
                    svg.coll-me-icon
                        use(xlink:href="#phone-icon")
                    .reg-text.col-me-text Перезвоните мне сейчас!

        a.footer-nav-a.reg-text.reg-text_roboto(href="http://", target="_blank", rel="noopener noreferrer") Контакты
        .glyanec
            img.glyanec-logo(src="images/glyanec-logo.png", alt="glyanec")
            .glyanec-text Глянец — Разработка сайтов
